@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --marine-blue: #000033;
    --light-gray: #E3E3E3;
    --bluish-green: #007788;
    --light-purple: #E6E6FA;
}

#switch{
    cursor: pointer;
    font-size: 30px;
    user-select: none;
}

body {
    background-color: var(--light-gray);
    color: var(--marine-blue);
}
.dark-mode {
    background-color: var(--marine-blue);
    color: var(--light-gray);
}
.dark-mode h1{
    color: var(--light-purple);
}
.dark-mode a{
    color: lightskyblue;
}

h1{
    font-family: 'Fira Mono', monospace;
    font-size: 36px;
    font-weight: bold;
    color: var(--bluish-green);
}

h2{
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-family: 'Fira Mono', monospace;
    font-size: 18px;
    font-weight: bold;
}

h4{
    font-family: 'Fira Mono', monospace;
    font-size: 16px;
    font-weight: bold;
}

h5{
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

h6{
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}

button{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #007bff;
    text-decoration: underline;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: italic;
}